* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 8px;
    /* padding: 5px 8vw; */
} 
h1 {
    font-size: 0.45rem;
    font-family: 'Rubik' , sans-serif;
    font-weight: 500;
    line-height: 1;    
}   
h2 {

}
h3 {
    font-size: 0.35rem;
    font-family: 'Roboto' , sans-serif;
    font-weight: 400;
    line-height: 1;  
}
h4 {
    font-size: 0.25rem;
    line-height: 1;  
}
h5 {
    font-size: 0.2rem;  
}
p {
    font-size: 0.2rem;
}
/* HEADER */
.main-header {
    max-width: 80vw;
    width: 100%;
    margin: 5px auto 0;
}
.logo {
    width: 2rem;
    height: auto;
    
}
/* MAIN MENU */
.main-menu {
    margin: 0.2rem 0;

}

.nav-style {
    list-style: none;
    display: inline; 

}

li{
    display: inline-block;    
}

a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 2;
    font-size: 0.25rem;
    color: #8b8b8b;
}

main {
    max-width: 80vw;
    margin: 0 auto;
}

section {
    margin-top: 7px;
}
.container {
    width: 100%;
}
/* HERO SECTION !dopo cambia height-auto! */
.hero-image {
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 2px;
}
.hero-text {
    text-align: left;
    position: absolute;
    bottom: 0.5rem;
    left: 0.7rem;
    max-width: 40vw;
    color: white;
  }
/* MAIN CONTENT SECTION */
.main-content-holder {
    width: 100%;
   
}
.main-content-holder::after {
    content: '';
    display: table;
    clear: both;
}
.full-width {
    width: 100%;
    height: auto;
}
.grey {
    background-color: #B6DBF2;
}
.float-item {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 14vw;
    height: calc(50vh - 10px);
    
}
.center-content {
    width: calc(100% - 28vw - 10px);
}
.last-content {
    margin-right: 0px;
}
/* "OBJECT FIT" fill or contain*/
.fill {
    object-fit: contain;
    width: 100%;
    height: auto;
    
}
.main-img-holder {
    border-radius: 2px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));

}
/* Footer */
.footer-container {
    width: 100%;
    /* height: 7vh; */
    background-color: #7C05F2;
    text-align: center;
    margin-top: 3px;

}
.inline-text {
    display: inline;
}
.vertical-align-middle {
    vertical-align: middle;
}
.footer-heart {
    font-size: 0.3rem;
}
.crafted {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.2rem; 
    line-height: 1;

}